<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>home</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-
  ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>
<body>
<div class="container text-center">
  <h2>학생 수행평가 점수 입력</h2>
  <p>
    <a class="btn btn-primary" role="button" href="/students/new">학생 등록</a>
    <a class="btn btn-primary" role="button" href="/students">학생 목록</a>
  </p>
</div>
</body>
</html>